@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Explore some <a href="https://localhost:5001/Topic">Topics</a></p>
    <p>Explore some <a href="https://localhost:5001/Task">Tasks</a></p>
</div>
